:root {
  --clr-blue-10: #ffffff;
  --clr-blue-20: #d8caff;
  --clr-blue-30: #ad96ff;
  --clr-blue-40: #7864ff;
  --clr-blue-50: #0a33ff;
  --clr-blue-60: #2228b9;
  --clr-blue-70: #221e78;
  --clr-blue-80: #19133c;
  --clr-blue-90: #000000;

  --clr-red-10: #ffffff;
  --clr-red-20: #ffd0cd;
  --clr-red-30: #ff9f9d;
  --clr-red-40: #fa6b70;
  --clr-red-50: #ed1d46;
  --clr-red-60: #ad2135;
  --clr-red-70: #711e25;
  --clr-red-80: #3a1616;
  --clr-red-90: #000000;

  --clr-yellow-10: #ffffff;
  --clr-yellow-20: #fff4d1;
  --clr-yellow-30: #ffeaa2;
  --clr-yellow-40: #fddf73;
  --clr-yellow-50: #f8d53a;
  --clr-yellow-60: #b49b30;
  --clr-yellow-70: #756524;
  --clr-yellow-80: #3b3317;
  --clr-yellow-90: #000000;

  --clr-light-10: #ffffff;
  --clr-light-20: #fafcfd;
  --clr-light-30: #f8fbfc;
  --clr-light-40: #f5fafa;
  --clr-light-50: #f1f8f9;
  --clr-light-60: #cfd5d6;
  --clr-light-70: #afb4b4;
  --clr-light-80: #8f9394;
  --clr-light-90: #717474;

  --clr-dark-10: #717173;
  --clr-dark-20: #58585a;
  --clr-dark-30: #3f3f42;
  --clr-dark-40: #28282b;
  --clr-dark-50: #131316;
  --clr-dark-60: #111114;
  --clr-dark-70: #0e0e10;
  --clr-dark-80: #0a0a0c;
  --clr-dark-90: #000000;
}
@supports (background: oklch(50% 0.1 0)) {
  :root {
    --clr-blue-10: oklch(100% 0 none);
    --clr-blue-20: oklch(90% 0.3 264);
    --clr-blue-30: oklch(75% 0.35 264);
    --clr-blue-40: oklch(70% 0.4 264);
    --clr-blue-50: oklch(50% 0.4 264);
    --clr-blue-60: oklch(20% 0.4 264);
    --clr-blue-70: oklch(8% 0.33 264);
    --clr-blue-80: oklch(0% 0.25 264);
    --clr-blue-90: oklch(0% 0 none);

    --clr-red-10: oklch(100% 0 none);
    --clr-red-20: oklch(95% 0.32 20);
    --clr-red-30: oklch(88% 0.35 20);
    --clr-red-40: oklch(74% 0.4 20);
    --clr-red-50: oklch(60% 0.4 20);
    --clr-red-60: oklch(46% 0.4 20);
    --clr-red-70: oklch(35% 0.42 20);
    --clr-red-80: oklch(25% 0.46 20);
    --clr-red-90: oklch(0% 0 none);

    --clr-yellow-10: oklch(100% 0 none);
    --clr-yellow-20: oklch(100% 0.15 95);
    --clr-yellow-30: oklch(97% 0.17 95);
    --clr-yellow-40: oklch(93% 0.17 95);
    --clr-yellow-50: oklch(87% 0.17 95);
    --clr-yellow-60: oklch(70% 0.17 95);
    --clr-yellow-70: oklch(50% 0.17 95);
    --clr-yellow-80: oklch(20% 0.25 95);
    --clr-yellow-90: oklch(0% 0 none);

    --clr-light-10: oklch(100% 0 none);
    --clr-light-20: oklch(97% 0.006 207);
    --clr-light-30: oklch(95% 0.007 207);
    --clr-light-40: oklch(95% 0.008 207);
    --clr-light-50: oklch(94% 0.009 207);
    --clr-light-60: oklch(90% 0.01 207);
    --clr-light-70: oklch(83% 0.012 207);
    --clr-light-80: oklch(74% 0.014 207);
    --clr-light-90: oklch(62% 0.016 207);

    --clr-dark-10: oklch(60% 0.006 285);
    --clr-dark-20: oklch(45% 0.006 285);
    --clr-dark-30: oklch(38% 0.006 285);
    --clr-dark-40: oklch(30% 0.006 285);
    --clr-dark-50: oklch(19% 0.006 285);
    --clr-dark-60: oklch(15% 0.006 285);
    --clr-dark-70: oklch(9% 0.006 285);
    --clr-dark-80: oklch(6% 0.006 285);
    --clr-dark-90: oklch(0% 0 none);
  }
}

:root {
  --clr-text-main: var(--clr-dark-50);
  --clr-text-link: var(--clr-blue-50);
  --clr-text-focus: var(--clr-blue-30);
  --clr-bg-main: var(--clr-light-50);
}
